* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/* ##### COMMON TAG SELECTION ##### */
body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    margin: 20px 0 20px 0;
}
    nav li {
        display: inline;
        margin-right: 15px;
    }
    nav ul, nav a {
        list-style: none;
        text-decoration: none;
        
    }

    nav a:link, nav a:visited, nav a:hover, nav a:active {
    color: rgb(168, 168, 168);
    }

body {
    width: 70%;
    margin: auto;
}

footer {
    background-color: dodgerblue;
    height: 100px;
}
/* ############################################ */



/* ##### CLASSES ITEMS ##### */
.logo {
    background-color: lightseagreen;
}

.main_div {
    background-color: lightskyblue;
}

.banner {
    height: 500px;
}

.titlebox {
    width: 100%;
    height: 80px;
    background-color: darkslateblue;
}

.columsbox{
    height: 500px;
    background-color: yellowgreen;
}
    .columsbox > aside {
        height: 100%;
    }

.asd_left {
    float: left;
    background-color: violet;
    width: 20%;
}

.asd_center {
    float: left;
    background-color: rgb(218, 59, 178);
    width: 60%;
}

.asd_right {
    float: right;
    background-color: rgb(128, 27, 128);
    width: 20%;

}
/* ######################### */
